name: run tennis paris bot
on: workflow_dispatch
jobs:
  run:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright/dotnet:v1.34.0-jammy
    steps:
    - uses: actions/checkout@v3
    - run: dotnet run -- --email "$EMAIL" --password "$PASSWORD"
      env:
        EMAIL: ${{ secrets.EMAIL }}
        PASSWORD: ${{ secrets.PASSWORD }}
